@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 1, 1, 1;
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for "app-like" feel */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-panel {
    @apply bg-tiktok-gray/80 backdrop-blur-md border border-white/10;
  }
}
